.logo {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 700;
  color: #198754;
}

.logo:hover {
  color: #146c43;
}

.paso-circulo {
  width: 60px;
  height: 60px;
  font-size: 1.5rem;
  font-weight: bold;

  background-color: #198754;
  color: white;

  border-radius: 50%;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 1rem;
}

.paso-line {
  width: 60px;
  height: 2px;
  background-color: #198754;
}

/* Responsive */

@media (max-width: 767px) {

  .paso-line {
    width: 2px;
    height: 40px;
  }

}