 <main class="container">
        
        <section class="section-light mt-2">
            <h1 class="section-title">Inventario del Taller Comunitario</h1>
            <p class="section-description">Panel de carga y control de stock para el Administrador.</p>

            <div class="row g-4 mt-2">
                <div class="col-12 col-md-8">
                <article class="card shadow-sm p-4">
                    <h2 class="mb-3 text-success">Registrar Nueva Herramienta</h2>
                    <form [formGroup]= "inventarioForm" (ngSubmit)="onEnviar()"  class="row g-3">
                         <div class="col-12 col-sm-6">
                            <label class="form-label">Nombre:</label>
                            <input type="text" formControlName="nombre" placeholder="Ej: Cuchara albañil" required>
                              @if (inventarioForm.get('nombre')?.invalid && inventarioForm.get('nombre')?.touched) {
                              <span class="text-danger">* El nombre es obligatorio.</span>}
                        </div>
                        <div class="col-12 col-sm-6">
                            <label class="form-label">Categoría:</label>
                            <select formControlName="categoria" class="form-select" required>
                               
                                <option value="" disabled selected>Seleccione una categoría...</option>
                                <option value="albañileria">Albañilería</option>
                                <option value="electricidad">Electricidad</option>
                                <option value="carpinteria">Carpintería</option>
                                <option value="jardineria">Jardinería</option>
                            </select> 
                             @if (inventarioForm.get('categoria')?.invalid && inventarioForm.get('categoria')?.touched) {
                              <span class="text-danger">* La Categoria es obligatoria.</span>}
                        </div>
                        <div class="col-12 col-sm-6">
                            <label class="form-label">Estado fisico inicial:</label>
                            <select formControlName = "estadoFisico" class="form-select" required>
                                
                                <option value="" disabled selected>Seleccione el estado...</option>
                                <option value="excelente">Excelente</option>
                                <option value="bueno">Bueno</option>
                                <option value="regular">Regular / Requiere Mantenimiento</option>
                            </select>
                            @if (inventarioForm.get('estadoFisico')?.invalid && inventarioForm.get('estadoFisico')?.touched) {
                              <span class="text-danger">* El Estado fisico es obligatorio.</span>}
                        </div>
                        <div class="col-12 col-sm-6" >
                            <label class="form-label">Código de Herramienta:</label>
                            <input type="text" formControlName="codigo" class="form-control" placeholder="Ej: ALB-004" required>
                             @if (inventarioForm.get('codigo')?.invalid && inventarioForm.get('codigo')?.touched) {
                              <span class="text-danger">* El código es obligatorio.</span>}
                        </div>
                        <div class="col-12">
                            <label for="form-label">URL de la imagen:</label>
                            <input type="text" formControlName="imageUrl" class ="form-control" placeholder="Ej: https://ejemplo.com/herramienta.jpg">
                            @if (inventarioForm.get('imageUrl')?.invalid && inventarioForm.get('imageUrl')?.touched) {
                            <span class="text-danger">* La URL es obligatoria.</span>
                            }
                        </div>
                 
                            <div class="col-12 col-sm-6">
                                <label class="form-label">Cantidad (Stock Inicial):</label>
                                <input type="number" formControlName="stockTotal" class="form-control" min="1">
                                @if (inventarioForm.get('stockTotal')?.invalid && inventarioForm.get('stockTotal')?.touched) {
                                <span class="text-danger">* La cantidad es obligatoria y mayor a 0.</span>
                                }
                            </div>
                            
                
                            <div class="col-12">
                            <label class="form-label">Descripcion / Observaciones</label>
                            <textarea formControlName="descripcion" class="form-control" placeholder="Ej: Se ingresa con Estuche plastico sin accesorios adicionales " rows="3"></textarea>
                            </div>
                        <div class="col-12">
                        <button type="submit" class="btn btn-success px-4">Ingresar Stock</button>
                        </div>
                    </form>
                </article>
                </div>
                <div class="col-12 col-md-4">
                <article class="card shadow-sm border-0 p-4 h-100 text-center d-flex flex-column justify-content-center">
                    <h3 class="text-secondary project-subtitle">Resumen de Estado</h3>
                    <p class="fs-4 my-2">Total herramientas registradas: <strong>4 unidades</strong>.</p>
                </article>
                </div>
            </div>
        </section>

        <section class="section-white pt-2">
            <h2>Catálogo de Herramientas Existentes</h2>
        <div class="table-responsive mt-3">
            <table class="table table-striped table-hover align-middle">
                <thead class="cabecera-verde">
                    <tr>
                        <th>Código</th>
                        <th>Herramienta</th>
                        <th>Categoría</th>
                        <th>Estado Físico</th>
                        <th>Disponibilidad</th>
                        <th>Observaciones</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody>
                    @for (herramienta of listaHerramientas; track herramienta.id){
                    <tr>
                        <td>{{ herramienta.codigo }}</td>
                        <td>{{ herramienta.nombre }}</td>
                        <td>{{ herramienta.categoria }}</td>
                        <td>{{ herramienta.estadoFisico }}</td>
                        <td>{{ herramienta.stockDisponible > 0 ? 'Disponible' : 'Sin Stock' }}</td>
                        <td>{{ herramienta.descripcion }}</td>
                        <td><button (click)="modificarDatos()"   class="btn btn-outline-success btn-sm">Modificar</button></td>
                    </tr>
                    
                    }
                    @empty {
                        <tr>
                            <td colspan="7" class="text-center">No hay herramientas registradas en la base de datos.</td>
        
                        </tr>
                    }
                </tbody>
          </table>
        </div>
    </section>

</main>
